<div class="flex-col rounded-lg bg-background px-8 py-8 sm:flex-row">
  <!-- Card Header -->
  <div class="mb-2 flex items-center justify-between">
    <div class="flex-col gap-4">
      <div class="flex items-center space-x-1">
        <span class="text-4xl font-semibold text-foreground">Où vous situez-vous sur l'échelle des salaires CBA ?</span>
        <div class="flex items-center rounded-md bg-green-500/25 py-1 pr-2 pl-1 text-xs font-semibold text-green-500">
          <svg-icon src="assets/icons/heroicons/outline/arrow-sm-up.svg" [svgClass]="'h-4 w-4'"></svg-icon>
          1.8% - NAO 2024
        </div>
      </div>
      <div class="flex flex-col my-4">
        <span class="text-sm text-muted-foreground">Données 2024 recueillies anonymement et vérifiées </span>
        <span class="text-sm text-muted-foreground">Moyenne des salaires - {{ mean }}€/an </span>
        <span class="text-sm text-muted-foreground">Médiane des salaires - {{ median }}€/an </span>
      </div>
      <div class="text-left flex items-center gap-4" [formGroup]="formGroup">

        <span class="text-sm text-muted-foreground">Votre salaire : </span>
        <div class="w-fit relative">
          <input type="number" id="wage" class="peer block" placeholder=" " formControlName="salaire"/>
          <label
            for="wage"
            class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-background px-2 text-sm text-muted-foreground duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary">
            Salaire annuel
          </label>
        </div>
      </div>

      <span class="text-sm text-muted-foreground">{{ percentAbove() }}% touchent plus que vous </span>
    </div>
  </div>
  <!-- Card Body -->
  <apx-chart
    [series]="chartOptions.series!"
    [chart]="chartOptions.chart!"
    [legend]="chartOptions.legend!"
    [dataLabels]="chartOptions.dataLabels!"
    [fill]="chartOptions.fill!"
    [stroke]="chartOptions.stroke!"
    [xaxis]="chartOptions.xaxis!"
    [yaxis]="chartOptions.yaxis!"
    [states]="chartOptions.states!"
    [tooltip]="chartOptions.tooltip!"
    [colors]="chartOptions.colors!"
    [grid]="chartOptions.grid!"
    [title]="chartOptions.title!">
  </apx-chart>
  <!-- end Chart -->
</div>
